.beemo__btns {
  display: flex;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

.beemo__btns-right,
.beemo__btns-left {
  width: 100%;
  height: 100%;
}
.beemo__btns-left {
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.btns__bar {
  width: 100%;
  height: 50px;
  border-radius: var(--btns-radius);
  background-color: #112c18;
  color: #ff577f;
  box-shadow: -5px 5px 0 rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease-in-out;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.btns__bar:hover {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

#greeting {
  animation: greetingMoving 7s linear infinite;
}

@keyframes greetingMoving {
  from {
    transform: translateX(-200%);
    filter: hue-rotate(0);
  }
  to {
    transform: translateX(200%);
    filter: hue-rotate(360deg);
  }
}

.btns__cross {
  margin: 50px 0px;
}

.btns__cross-row,
.btns__cross-column {
  width: 100px;
  height: 35px;
  background-color: #fcd50b;
  border: var(--border-color);
  box-shadow: var(--btns-shadow);
  transition: box-shadow 0.2s ease-in-out;
}

.btns__cross-row:hover,
.btns__cross-column:hover {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.btns__cross-row {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: var(--btns-radius);
  box-shadow: var(--btns-shadow);
}

.btns__cross-column {
  position: absolute;
  transform: rotateZ(90deg);
  border-radius: var(--btns-radius);
  box-shadow: var(--btns-shadow);
}

.btns__cross-mid {
  position: absolute;
  width: 60px;
  height: 35px;
  background-color: #fcd50b;
  z-index: 999;
}

.btns__capsule {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btns__capsule span {
  width: 40%;
  height: 40px;
  background-color: #232c6f;
  border-radius: 30px;
  border: var(--border-color);
  box-shadow: -5px 5px 0 rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease-in-out;
}

.btns__capsule span:hover {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.beemo__btns-right {
  display: flex;
  flex-direction: column;
  position: relative;
}

.btns__circle {
  border-radius: 50%;
  border: var(--border-color);
  position: absolute;
  box-shadow: -5px 5px 0 rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease-in-out;
}
.beemo__btns-right > div:first-child {
  background-color: #262a71;
  width: 45px;
  height: 45px;
  left: 60%;
}

.beemo__btns-right div:nth-child(3) {
  background-color: #7dc245;
  width: 40px;
  height: 40px;
  left: 75%;
  top: 35%;
}

.beemo__btns-right div:nth-child(4) {
  background-color: #ed1e24;
  width: 80px;
  height: 80px;
  left: 30%;
  bottom: 0%;
}
.beemo__btns-right > div:first-child:hover,
.beemo__btns-right div:nth-child(3):hover,
.beemo__btns-right div:nth-child(4):hover {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.btns__tri-border {
  position: relative;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 77px solid #37c8f1;
  left: -25px;
  bottom: -16px;
}

.btns__triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-bottom: 100px solid black;
  left: 15%;
  top: 23%;
}

.btns__circle-lg button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  font-size: 20px;
  font-weight: 600;
}
